{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <section class="liga">
        <div class="carousel">
            <input type="radio" name="inputRadio" id="inputRadio1" checked>
            <input type="radio" name="inputRadio" id="inputRadio2">
            <input type="radio" name="inputRadio" id="inputRadio3">
            <input type="radio" name="inputRadio" id="inputRadio4">

            {% for usuario in rankin_liga %}
                <div class="c-card" id="img{{ loop.index }}">
                    <div class="c-card__title">
                        <h2>CLASSIFICAÇÃO GERAL</h2>
                    </div>
                    <div class="c-card__body">
                        <img class="c-card__img" src="{{ usuario.url_escudo }}" alt="">
                        <div class="c-card__content">
                            <span>{{ usuario.time_nome }}</span>
                            <span> {{ usuario.primeiro_nome }} {{ usuario.segundo_nome }}</span>
                        </div>
                    </div>
                    <div class="c-card__footer">
                        <div class="c-card__content">
                            <span>{{ usuario.posicao }}</span>
                            <span>posição</span>
                        </div>
                        <div class="c-card__content">
                            <span>{{ usuario.total }}</span>
                            <span>pontos</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="divLabel">
            <label for="inputRadio1"></label>
            <label for="inputRadio2"></label>
            <label for="inputRadio3"></label>
            <label for="inputRadio4"></label>
        </div>
    </section>

    <section class="mes">Mês</section>

    <section class="mito">Mito</section>

    <section class="turno">Turno</section>
{% endblock %}
