{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div>
    <img src="https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_164/flamula/23/27/53/0075132320200722092753" alt="">
    <h1>GW ALTINO FC</h1>
</div>
<div class="avisos">
    <span>Rodada 10, mercado aberto</span>
    <span>Atualizado até rodada 9</span>
</div>
{% endblock %}

{% block main %}
<section id="wrapperLiga" class="wrapper">
    {% for usuario in ranking_liga %}
    <div posicao="{{ loop.index }}" class="c-card">
        <span>Premiação <br>em andamento</span>
        <div class="c-card__title">
            <h2>RANKING GERAL</h2>
        </div>
        <div class="c-card__body">
            <img src="{{ usuario['url_escudo'] }}" alt="" class="c-card__img">
            <div>
                <span>{{ usuario['time_nome'] }}</span>
                <span>{{ usuario['usuario_nome'] }}</span>
            </div>
        </div>
        <div class="c-card__footer">
            <div>
                <span>{{ loop.index }}º</span>
                <span>posição</span>
            </div>
            <div>
                <span>{{ usuario['total'] }}</span>
                <span>pontos</span>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section id="indicatorLiga" class="indicator">
    <span posicao="1" class="active"></span>
    <span posicao="2"></span>
    <span posicao="3"></span>
    <span posicao="4"></span>
</section>
<section id="wrapperMes" class="wrapper">
    {% for usuario in ranking_mes %}
    <div posicao="{{ loop.index }}" class="c-card">
        <span class="{% if loop.index != 1 %}ok{% endif %}">Premiação <br>{% if loop.index != 1 %}paga{% else %}em andamento{% endif %}</span>
        <div class="c-card__title">
            <h2>RANKING MENSAL</h2>
        </div>
        <div class="c-card__body">
            <img src="{{ usuario['url_escudo'] }}" alt="" class="c-card__img">
            <div>
                <span>{{ usuario['time_nome'] }}</span>
                <span>{{ usuario['usuario_nome'] }}</span>
            </div>
        </div>
        <div class="c-card__footer">
            <div>
                <span>{{ usuario['mes_nome'] }}</span>
                <span>mês</span>
            </div>
            <div>
                <span>{{ usuario['total'] }}</span>
                <span>pontos</span>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<section id="indicatorMes" class="indicator">
    <span posicao="1" class="active"></span>
    <span posicao="2"></span>
    <span posicao="3"></span>
</section>
<section>
    <div class="c-card">
        <span>Premiação <br>em andamento</span>
        <div class="c-card__title">
            <h2>MITADA</h2>
        </div>
        <div class="c-card__body">
            <img src="{{ ranking_mito['url_escudo'] }}" alt="" class="c-card__img">
            <div>
                <span>{{ ranking_mito['time_nome'] }}</span>
                <span>{{ ranking_mito['usuario_nome'] }}</span>
            </div>
        </div>
        <div class="c-card__footer">
            <div>
                <span>{{ ranking_mito['rodada'] }}ª</span>
                <span>rodada</span>
            </div>
            <div>
                <span>{{ ranking_mito['total'] }}</span>
                <span>pontos</span>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="c-card">
        <span>Premiação <br>em andamento</span>
        <div class="c-card__title">
            <h2>RANKING TURNO</h2>
        </div>
        <div class="c-card__body">
            <img src="{{ ranking_turno['url_escudo'] }}" alt="" class="c-card__img">
            <div>
                <span>{{ ranking_turno['time_nome'] }}</span>
                <span>{{ ranking_turno['usuario_nome'] }}</span>
            </div>
        </div>
        <div class="c-card__footer">
            <div>
                <span>1º</span>
                <span>turno</span>
            </div>
            <div>
                <span>{{ ranking_turno['total'] }}</span>
                <span>pontos</span>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <div class="grafico"></div>
</section> -->
{% endblock %}


<!-- {% block script %}
    <script>
        Plotly.newPlot(document.querySelector('.grafico'), {{ grafico | safe }})
    </script>
{% endblock %} -->
