{% extends 'base.html' %}


{% block title %}{{ title }}{% endblock %}


{% block header %}
<div>
    <img src="https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_164/flamula/23/27/53/0075132320200722092753" alt="">
    <h1>GW ALTINO FC</h1>
</div>
<div class="avisos">
    <span>Rodada {{ rodada_atual }}, mercado {{ status_mercado }}</span>
    <span>Atualizado até a rodada {{ atualizado_ate }}</span>
</div>
{% endblock %}


{% block main %}
<section>
    <div class="container">
        <div id="wrapperLiga" class="cards">
            {% for time in ranking_liga %}
            <div class="c-card" posicao="{{ loop.index }}">
                <span>Premiação <br>em andamento</span>
                <div class="c-card__title">
                    <h2>classificação geral</h2>
                </div>
                <div class="c-card__body">
                    <div class="c-card__img">
                        <img src="{{ time['url_escudo'] }}" alt="" class="c-card__img">
                    </div>
                    <div class="c-card__names">
                        <span>{{ time['time_nome'] }}</span>
                        <span>{{ time['usuario_nome'] }}</span>
                    </div>
                </div>
                <div class="c-card__footer">
                    <div>
                        <span>{{ time['posicao'] }}º</span>
                        <span>posição</span>
                    </div>
                    <div>
                        <span>{{ time['total'] }}</span>
                        <span>pontos</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="indicatorLiga" class="indicator">
            <div>
                <span posicao="1" class="active"></span>
                <span posicao="2"></span>
                <span posicao="3"></span>
                <span posicao="4"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div id="wrapperMes" class="cards">
            {% for time in ranking_mes %}
            <div class="c-card" posicao="{{ loop.index }}">
                <span class="{% if loop.index != 1 %}ok{% endif %}">Premiação <br>{% if loop.index != 1 %}paga{% else %}em andamento{% endif %}</span>
                <div class="c-card__title">
                    <h2>líder mensal</h2>
                </div>
                <div class="c-card__body">
                    <div class="c-card__img">
                        <img src="{{ time['url_escudo'] }}" alt="" class="c-card__img">
                    </div>
                    <div class="c-card__names">
                        <span>{{ time['time_nome'] }}</span>
                        <span>{{ time['usuario_nome'] }}</span>
                    </div>
                </div>
                <div class="c-card__footer">
                    <div>
                        <span>{{ time['mes_nome'] }}</span>
                        <span>mês</span>
                    </div>
                    <div>
                        <span>{{ time['total'] }}</span>
                        <span>pontos</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="indicatorMes" class="indicator">
            <div>
                <span posicao="1" class="active"></span>
                <span posicao="2"></span>
                <span posicao="3"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="c-card">
            <div class="c-card__title">
                <h2>mitada</h2>
            </div>
            <div class="c-card__body">
                <div class="c-card__img">
                    <img src="{{ ranking_mito['url_escudo'] }}" alt="" class="c-card__img">
                </div>
                <div class="c-card__names">
                    <span>{{ ranking_mito['time_nome'] }}</span>
                    <span>{{ ranking_mito['usuario_nome'] }}</span>
                </div>
            </div>
            <div class="c-card__footer">
                <div>
                    <span>{{ ranking_mito['rodada'] }}ª</span>
                    <span>rodada</span>
                </div>
                <div>
                    <span>{{ ranking_mito['total'] }}</span>
                    <span>pontos</span>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</section>

<section>
<div class="container">
    <div class="c-card">
        <div class="c-card__title">
            <h2>líder turno</h2>
        </div>
        <div class="c-card__body">
            <div class="c-card__img">
                <img src="{{ ranking_turno['url_escudo'] }}" alt="" class="c-card__img">
            </div>
            <div class="c-card__names">
                <span>{{ ranking_turno['time_nome'] }}</span>
                <span>{{ ranking_turno['usuario_nome'] }}</span>
            </div>
        </div>
        <div class="c-card__footer">
            <div>
                <span>1º</span>
                <span>turno</span>
            </div>
            <div>
                <span>{{ ranking_turno['total'] }}</span>
                <span>pontos</span>
            </div>
        </div>
    </div>
    <div></div>
</div>
</section>
{% endblock %}