* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background: var(--ligth);
}

header > div:first-child {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1rem 0 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
    color: var(--primary);
}

header div.avisos {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.6rem;
}

header img {
    height: 1.4rem;
    width: 1.4rem;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--dark);
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section > .container {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.cards {
    height: 90%;
    display: flex;
    gap:0.5em;
    overflow-x: auto;
    cursor: grab;
    box-shadow: 0 0 10px 2px #0000004d;

    /* arrastar, depedende do pai ter scroll-snap-align */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* firefox */
}

.cards::-webkit-scrollbar {
    display: none; /* chrome */
}

.indicator {
    height: 10%;
    width: 100%;
}

.indicator > div {
    height: 100%;
    width: 50%;
    margin: auto;
    padding-top: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.indicator > div > span {
    height: 0.7em;
    width: 0.7em;
    border: 1px solid var(--primary);
    border-radius: 50%;
}

.indicator > div > span.active {
    height: 0.8em;
    width: 0.8em;
    background-color: var(--primary);
}