@media screen and (orientation: portrait) {

    header div:first-child {
        font-size: 0.7rem;
    }

    main > section {
        height: 22.5vh;
    }

    .c-card > span {
        font-size: 0.4rem;
    }

    .c-card__title {
        font-size: 70%;
    }

    .c-card__names,
    .c-card__footer {
        font-size: 0.8em;
    }
    
    .c-card__names span:first-child {
        font-size: 1.1em;
    }

    .c-card__footer > div > span:first-child {
        font-size: 1.4em;
    }

}


@media screen and (orientation: landscape) {


    header img {
        height: 1.6rem;
        width: 1.6rem;
    }

    main > section {
        height: 90vh;
    }

    .c-card > span {
        font-size: 0.8rem;
    }

    .c-card__title {
        font-size: 1.4em;
    }

    .c-card__names,
    .c-card__footer {
        font-size: 1.3em;
    }
    
    .c-card__names span:first-child,
    .c-card__footer > div > span:first-child {
        font-size: 1.2em;
    }

}